<!-- Purpose of file: this is what will render inside the body (Main.handlebars) when the user is viewing the saved notes page -->

<div class="jumbotron text-center">
    <p class="text-right"><span id="spanDate" class="date-text"></span></p>
    <img src="../../assets/images/logo2.svg" class="logo">
    <br>
    <a class="btn btn-lg btn-home" href="/" role="button">Home</a>
</div>

<div class="article-container">
    <!-- Content will populate here -->
</div>


<!-- JavaScript file that dynamically populates everything that is in the saved articles section of the database -->

<script src="../../assets/js/saved.js"></script>